body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    text-decoration-line: none;
    text-decoration: none;
}

header {
    display: flex;
    background-color: #45EBA5;
    justify-content: space-between;
    align-items: center;
    font-family: 'OCR A Std', monospace;
    font-size: 18px;
    padding: 0 20px;
    text-decoration: none;
    text-decoration-line: none;

}

#Nazwa {
    display: flex;
    color: #163A5F;
    gap: 15px;
    align-items: center; 
}

#pasek a:visited {
    color: #21ABA5;
    text-decoration: none;
}

#pasek a:link {
    color: white;
    text-decoration: none;
}

#pasek a {
    align-items: center; 
    justify-content: flex-end;
    text-decoration: none;
}

#pasek a:hover {
    color: lightseagreen;
    text-shadow: 0 0 6px #DEE1EC;
    text-decoration: none;
}

#pasek {
    display: flex;
    list-style: none;
    gap: 15px;
    padding-left: 0; 
    text-decoration: none;
}

#pasek li {
    display: inline;
    text-decoration: none;
}
.przycisk 
{
    background-color: #163A5F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.przycisk a
{
    color: white;
    text-decoration: none;
}

header img {
    margin-right: 5px;
}