body {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.head_section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2vh;
    background-color: #163A5F;
    padding: 10px;
    list-style-type: none;
}

.head_section a {
    color: #45EBA5;
    text-decoration: none;
    margin: 0 10px;
}

.con {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 100%;
    border: 2px ridge black;
    background-color: #39A388;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.con2
{
    display: flex;
    justify-content: space-around;
    height: 120vh;
    width: 100%;
    border: 2px ridge black;
    background-color: #39A388;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;  
}

.con3
{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    border: 2px ridge black;
    background-color: #39A388;
    margin: 0;
    padding: 0;
    gap: 5px;
}

.con4
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    width: 100%;
    border: 2px ridge black;
    background-color: #39A388;
    margin: 0;
    padding: 0;
    gap: 5px;
}

.con5
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    width: 100%;
    border: 2px ridge black;
    background-color: #39A388;
    margin: 0;
    padding: 0;
    gap: 5px;
}


.link {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFD95;
    border: 1px solid #000;
    list-style-type: none;
    text-decoration: none;
}

.link a {
    text-decoration: none;
    color: #0B8457;
}

.link a:hover {
    color: #10316B;
    text-shadow: 0 0 10px #DEE1EC;
}

.link li
{
    list-style-type: none;
}