body
{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}
main{
    display: flex;
    height: 85%;
    width: 50%;
    color: black;
}

.con
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    
}
:link 
    {
        color: #EAC100;
    }
li 
    {
        text-decoration: none;
        align-items: center; 
        justify-content: flex-end;
    }
li:hover
    {
        color: lightseagreen;
        text-shadow:0 0 6px #DEE1EC;
    }

    head_section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 2vh;
        background-color: #163A5F;
        padding: 10px;
        list-style-type: none;
    }
    
    head_section a {
        color: #45EBA5;
        text-decoration: none;
        margin: 0 10px;
    }